<div id="home_contact_us_top1" style="background-image:url(<%= image_url "layout_top_image.jpg" %>)"  >
</div>
<div id="home_contact_us_top2" style="background-image:url(<%= image_url "home/contact_us.jpg" %>)"  >
</div>