<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">公司简介</h1>
    <p class="lead blog-description">东莞市唯真金属压延有限公司，位于东莞市凤岗镇，紧邻凤深大道及清平高速，交通便利;属于深圳市唯真电机有限公司旗下的子公司，于2015年4月20日正式投入生产。</p>

  </div>

</div>