<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">公司简介</h1>
  </div>
  <div class="row">
	<p class="text-left">
	  <%= raw @home.profile %>
	</p>
  </div><!--/row-->
</div>


