@charset "utf-8";
/*
	@made by wangjinxin(1749574663)
	
	@time:2016-8-20
*/
html{
  color:#5a5a5a;
  font-size: 75%;
  -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
}
body {
  color:#000;
  font-family: "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue", 'Helvetica','Tahoma','sans-serif',"微软雅黑";
  height:auto;
  background: #fff;
}
input, select, textarea, button {
   font-family: "Microsoft Yahei","Helvetica Neue", Helvetica, Arial,Tahoma,sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  margin:0;padding:0;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
input:-webkit-autofill,
textarea:-webkit-autofill {
  background-color:inherit;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table.fixed {
  table-layout: fixed;
}
input,select,textarea{
  font-size:100%;
}
input.checkbox {
    position:relative;
    top:-2px;
}
table{
  border-collapse:collapse;
  border-spacing:0;
}
th{
  text-align:inherit;
}
fieldset,img{
  border:0;
}
iframe{
  display:block;
  border:0;
}
del {
  text-decoration:line-through;
}
address,caption,cite,code,dfn,em,th,var {
  font-style:normal;
  font-weight:500;
}
ol,ul,li {
  list-style:none;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:500;
  line-height: inherit;
}
sub, sup {
    font-size: 75%; 
    line-height: 0; 
    position: relative; 
    vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
a {
  color:#000;
}
a:hover {
    color:#0058a7;
    text-decoration: under	line!important;  
}
a:hover,
a:active {
  outline: none;
}
a:visiteds {
  text-decoration:none;
}
a:focus {
  outline:none;
  text-decoration:none;
}
ins,a {
  text-decoration:none;
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
i {
    font-style:normal;
}
.clear {
  visibility:hidden;
  display:block;
  font-size:0;
  clear:both;
  height:0;
}
.text,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
 
  color: #555555;

}
hr{margin:20px 0;border:0;border-top:1px solid #eee;border-bottom:1px solid #fff}

.kinput,
input.kinput,
textarea.kinput,
input[type="text"].kinput,
input[type="password"].kinput {
    height: 30px;
    padding: 0px 6px;
    line-height: 30px;
    border: 2px solid #d2d2cd;
    border-radius:3px;
}
textarea.kinput {
    height:auto;
    resize:none;
}
.dn{
	display: none!important;
}
/*********************************Descript***************************************/
.hide {
  display: none;
}
.show {
  display: block;
}
/* font */
.font14 {
  font-size:14px;
}
.font16 {
  font-size:16px;
}
.font18 {
  font-size:18px;
}
.font36 {
  font-size: 36px;
}
.alignleft {
  text-align:left;
}
.alignright {
  text-align: right;
}
.aligncenter{
  text-align: center;
}
.txtindent1em {
  text-indent:1em;
}
.txtindent {
  text-indent: 2em;
}
.b {
  font-weight:700;
}
.nowrap {
  white-space: nowrap;
}

/* color */
.white {
  color:#fff;
}
.red,
a.red  {
  color:#d91c1c;
}
.green,
a.green {
color:#3bae94;
}
a.green:hover {
    color:#4d896d;
}
.lightgreen {
  color:#1abc9c;}
.blue,
a.blue {
  color:#0058a7;
}
a.blue:hover {
    color:#0058a7;
}
.gray,
a.gray {
  color:#aeaeae;
}
.lightgray {
  color:#d0d0d0;
}
.lightblue {
  color:#24a4e0;
}
.orange,
a.orange {
  color:#f39c11;
}
a.orange:hover {
    color:#d79323;
}
.bgwhite {
    background:#fff;
}

/* float */
.floatleft {
  float:left;
}
.floatright {
  float:right;
}
/* border */
.grayborder {
  border:1px solid #e5e5e5;
}
/* spacer */
.pdlr8 {
  padding:0 8px;
}
.pdlr4 {
  padding:0 4px;
}
.spacer8 {
  /*height:8px;*/
}
.spacer4 {
  /*height:4px;*/
}

#footer {
  min-height: 70px;
  background: #efefef;
  font-size:1.125em;
}
#footerleft {
  line-height: 70px;
}
#footerright {
  color:#727171;
}
#footerright span {
  display: inline-block;
  /*line-height: 70px;*/
  vertical-align: middle;
  margin-left:2em;
  /*float: left;*/
}
#footerright div{
	float: left;
	margin-top: 15px;
}
#footer div span{
	height: 50px;
	margin:0 5px;
	text-align: center;
}
.ml20{ margin-left: 20px;}
#footer div p{
	width:160px;
}
#footer div p:last-child{
	font-size: 12px;
}
#footer i.icon{
	background: url(images/footericon.png) no-repeat;
	background-size:contain ;
	width: 30px;
	height: 30px;
	display: block;
	margin-top: 5px;
	margin-right: 5px;
	margin-top: -6px;
}
#footerright_divimg {
  display: inline-block;
  padding-left:40px;
  vertical-align: top;
  position: relative;
  top:16px;
}
#footerright_divnoimg{
  display: inline-block;
  padding-left:40px;
  vertical-align: top;
  position: relative;
  top:16px;
  margin-left:2em;
}
/*******************************页头通用*************************************/
#header {
  height: 70px;
  background: #004ea2;
  color: #fff;
}
.width75 {
  /*width:75%;*/
  max-width:1190px;
  margin:0 auto;
}
.width85 {
  /*width:75%;*/
  width:1390px;
  margin:0 auto;
}
#header .w1435 {
  height: 70px;
}
#logo {
  float:left;
  width:410px;
  height: 35px;
  margin-top:17px;
  background: url(images/logo.png);
}
#logoright{
  float:right;
  margin-top:26px;
}
#logoright * {
  display: inline-block;
  line-height:25px;
}
#logoright a {
  color:#fff;
}
.dn{display: none!important;}
.language{
	position: relative;
	cursor:pointer;
	padding: 0 10px;
	border: 1px solid #004ea2;
	border-bottom: none;
}
.language_on{
	border: 1px solid #ccc;
	border-bottom: none;
	background: #666;
}
.change_lang{
	position: absolute;
	width: 100%;
	background: #efefef;
	top: 25px;
	z-index: 999;
	border: 1px solid #ccc;
	border-top: none;
	padding: 10px 0;
	left: -1px;
}
#logoright a {
  color:#fff;
}
#logoright .change_lang p,#logoright .change_lang p a{
	width: 100%;
	line-height: 30px;
	text-indent: 10px;
	font-size: 14px;
	color: #000;
	cursor: pointer;
}
#logoright .change_lang p a:hover{
	color: #004ea2;
}
i.header_language_icon {
  display: inline-block;
  vertical-align: top;
  width:12px;
  height: 8px;
  background: url(images/header_language_icon.png) no-repeat 0 1px;
  margin:0 0 0 4px;
  position: relative;
  top:8px;
  background-size:100% 100% ;
  lter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/header_language_icon.png',sizingMethod='scale');

}
/*******************************导航************************************/
#nav {
  background: #fff;
}
#nav,#navList {
  height: 70px;
}
#navSearch {
  float:right;
  width:330px;
  height: 30px;
  border:1px solid #727171;
  text-align: right;
  margin:20px 0 0 0;
}
#navSearch input {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width:290px;
  border:none;
  vertical-align: top;
  font-size:1.25em;
}
#navSearch input:focus{
  outline: none;
}
#navSearch .btn {
  display: inline-block;
  vertical-align: top;
  width:32px;
  height: 30px;
  cursor: pointer;
  background: url(images/nav_search_icon.png);
}
#navList {
  float:left;
   width:690px;
}
#navList .navitem {
  padding:1.3em 1.3em 0;
  font-size:1.5em;
  height: 42px;
  color:#3e3a39;
  float:left;
  border-bottom:3px solid #fff;
  cursor: pointer;
}
#navList .navitem span.navspan {
  display: block;
  height: 42px;
}
#navList .navitem span.navspan a:hover{
	text-decoration: none!important;
}
#navList .navitem:hover span {
  color:#004ea2;
  border-bottom:3px solid #0058a7;
}
#navList .navitem:hover .navSection {
  display: block;
} 
#navList #homepage:hover {
  border-bottom:3px solid #fff;
}
#navList .navSection {
  position: absolute;
  left:0;
  right:0;
  background: #efefef url(images/navsbg.png) repeat-y center;
  top:138px;
  display:none;
  z-index: 10;
  height: 445px;
  overflow: hidden;
}
.navSection .width75 {
  background: #f7f8f8;
}
.navSection a:hover{
	text-decoration: none;
}
.nav_s_left {
  background: #efefef;
  height: 445px;
}
.nav_s_left li {
  margin-right:1.125em;
  display: block;
  height: 2.75em;
  line-height: 2.75em;
  padding-left:1.125em;
  color:#000;
  font-size:1.125em;
}
.nav_s_left li.active {
  color:#004ea2;
}
.nav_s_left li:hover {
  color:#fff;
  background: #0058a7 url(images/nav_left_li_bg.png) no-repeat right 50%;
}

.nav_s_left li:hover a{
  color:#fff;

}

.nav_s_right {
  background: #f7f8f8;
  height: 445px;
  border-left:1px solid #dcdddd;
}
.nav_s_right .content {
  font-size:1.125em;
  margin:1.85em 0 0 3.75em;
}
.nav_s_right .content p {
  padding-bottom:0.9em;
}
.nav_s_right .content h2 {
  padding-bottom:0.83em;
  color:#004ea2;
  font-size:1.65em;
}
.nav_s_right .content h2 a {
  color:#004ea2;
}
#nav-s-about .nav_s_left {
  width:656px;
}
#nav-s-about .nav_s_left img {
  width:90%;
  margin-top:5%;
}


#nav-s-etc .nav_s_left {
  width:503px;
}
#nav-s-etc .nav_s_left i {
  display: block;
  width:183px;
  height: 238px;
  background: url(images/nav-s-etc-icon.png);
  margin:0 auto;
  margin-top:70px ;
}
#nav-s-etc .nav_s_right {
  width:20%;
}


#etc-map {
  width:22.50174%;
  height: 392px;
  margin-top:100px;
  font-size:1em;
  color:#000;
  padding-left:3em;
}

#logo-yin {
  margin:3em 0 0 0;
  width:11.56794%;
   margin:14% 0 0 0%;
}
.nav_s_intro img {
  width:100%;
}

#nav-s-iig .nav_s_left {
  width:382px;
}
#nav-s-iig .nav_s_left ul {
  margin:40px 0 0 10.1472%;
}
#nav-s-iig .nav_s_right {
  width:300px;
}

#nav-s-tpg .nav_s_left {
  width:231px;
}
#nav-s-tpg .nav_s_left ul {
  margin:40px 0 0 6.1472%;
}
#nav-s-tpg .nav_s_right {
  width:400px;
}

.nav_s_intro {
  width:30%;
  margin-top:100px;
  font-size:1em;
  color:#000;
  padding-left:3em;
}
.nav_s_intro p {
  font-size:0.9em;
  color:#727171;
  margin-top: 5px;
  line-height: 1.5em;
}
.nav_s_intro h2 {
  font-size:1.125em;
  margin: 5px 0;
}


#indexShow {
  min-width:1190px;
  margin:0 auto;
  position:relative;
}


#myCarousel .carousel-indicators {
  bottom:10px;
  right:50%;
  margin-left:-30px;
  top:inherit;
}
#myCarousel .carousel-indicators li {
  width:15px;
  height:15px;
  border-radius:15px;
  background:#ccc;
  cursor:pointer;
}
#myCarousel .carousel-indicators li.active {
  background:#fff;
}

#banner {
  width:100%;
  text-align: center;
}

.title {
    font-size: 3em;
    height: 3.2em;
    line-height: 3.2em;
    padding-left: 0.722em;
    color: #000;
}
.iig_mores{
	width: 100%;
	overflow: hidden;
	margin-bottom: 60px;
}
.iig_mores li{
	float: left;
	width: 25%;
	text-align: center;
	overflow: hidden;
}
.iig_mores li img{
	width: 80%;
	margin: 0 auto;
}
.iig_mores li p{
	text-align: center;
	width: 80%;
	margin: 0 auto;
	font-size: 22.5px;
	color: #fff;
	background: #47bfab;
	height: 60px;
	line-height: 60px;
	border-radius: 0 0 3px 3px;
}

/*banber字体加背景 star*/
.bg_banner{
	position: relative;
}
.ban_b_box{
	position: absolute;
	overflow: hidden;
	left: 11%;
	top: 15%;
}
.ban_cont {
	display: block;
	background: rgba(113,113,113,0.8);
	padding: 10px 20px;
}
.ban_cont_bg{
	background: rgba(36,104,169,0.8);
}
.bg_none{
	background:none;
}
.ban_cont h1{
	font-size: 28px;
	color: #fff;
	text-align:left;
	font-weight: bold;
}
.ban_cont p{
	text-align: left;
	color: #fff;
	margin-top: 20px;
	font-size: 1.3em;
}


/*banber字体加背景 end*/
