<p>亲爱的 <%= @resource.email %> ，您好！</p>

<p>我们已收到您找回密码的请求，请点击下面的链接重置密码:</p>

<p><%= link_to '重置密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您没有要求，请忽略此邮件。</p>
<p>在访问以上链接并重置密码之前，您的密码不会更改。</p>


