  <div id="products_layout_top1" style="background-image:url(<%= image_url "layout_top_image.jpg" %>)"  >
  </div>
  <div id="products_layout_top2" style="background-image:url(<%= image_url "products/product_center.jpg" %>)"  >
  </div>