<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @product.profile %>
</p>
<% if user_signed_in?%>
<%= link_to 'Edit', edit_product_path(@product) %> 
<% end %>

